<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/template.css" />
    {% block assets %}{% endblock %}
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Light framework</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>

        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </nav>
</header>

<div class="main">
    {% block body%}
    {% endblock %}

</div>

<footer>
    <div class="bg-dark text-white pt-2 page-footer footer">
        <div class="container d-flex">
            <div class="col-md-8 col-sm-6 col-xs-12 ">
                <p class="copyright-text ">Light framework©
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <ul>
                    <li><a class="" href="#">Suporte</a></li>
                    <li><a class="" href="#">FAQ</a></li>
                    <li><a class="" href="#">Sobre</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>

{% block script %}{% endblock %}

</body>
</html>